<h2>Inside Marvellous Component</h2>

<h2>Demonstration of Inbuilt String Pipe</h2>
<h2>{{str}}</h2>
<h2>{{str | uppercase}}</h2>
<h2>{{str | lowercase}}</h2>
<h2>{{str | titlecase}}</h2>
<h2>{{str | slice : 10}}</h2>
<h2>{{str | slice : 10 : 14}}</h2>
<h2>{{str | slice : 11 : 20}}</h2>

<h2>Demonstration of Inbuilt Number Pipe</h2>
<h2>{{fValue}}</h2>
<h2>{{fValue | number : '4.8-9'}}</h2>
<h2>{{fValue | number : '6.10-12'}}</h2>
<h2>{{fValue | number : '8.12-15'}}</h2>

<h2>Demonstration of Inbuilt JSON Pipe</h2>
<h2>{{Book | json}}</h2>

<h2>Demonstration of Inbuilt Date Pipe</h2>
<h2>{{Today}}</h2>
<h2>{{Today | date}}</h2>
<h2>{{today | date : 'short'}}</h2>
<h2>{{Today | date : 'shortTime'}}</h2>
<h2>{{Today | date : 'shortDate'}}</h2>

<h2>Demonstration of Inbuilt Currency Pipe</h2>
<h2>{{0.78 | percent}}</h2>
<h2>{{0.78 | currency}}</h2>
<h2>{{0.78 | currency : 'INR'}}</h2>
<h2>{{0.78 | currency : 'GBP'}}</h2>